<header class="header">
  <div class="custom-container container">
    <div class="row">
      <div class="col-md-2">
        <div class="left-header">
          <img class="logo-eljumper" src="../../assets/pictures/logo-eljumper.png">
        </div>
      </div>
      <div class="col-md-10">
        <div>
          <div class="right-header">
            <button *ngIf="!user" class="button button-signup" (click)="signUp()">
              SIGN UP
            </button>
            <button *ngIf="!user" class="button" (click)="signIn()">
              SIGN IN
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
