/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html * {
    font-family: 'Roboto', sans-serif ;
    color: #333333;
}

body {
  margin: 0;
  background-color: #F0F1F2;
}
