<app-header></app-header>
<div class="container">
  <div class="title-container">
    <div class="title">EL JUMPER</div>
    <div class="sub-title">Buscador de BASIC y HIGH</div>
  </div>
  <div class="information">
    <div>
      <span>REGISTRO</span>
    </div>
    <div class="data">
      <span>- doiashdoashdoiahsodihasodhoahsda</span><br>
      <span>- doiashdoashdoiahsodihasodhoahsda</span><br>
      <span>- doiashdoashdoiahsodihasodhoahsda</span><br>
      <span>- doiashdoashdoiahsodihasodhoahsda</span><br>
    </div>
  </div>
  <div class="information">
    <div>
      <span>PRECIOS</span>
    </div>
    <div class="data">
      <span>- doiashdoashdoiahsodihasodhoahsda</span><br>
      <span>- doiashdoashdoiahsodihasodhoahsda</span><br>
      <span>- doiashdoashdoiahsodihasodhoahsda</span><br>
      <span>- doiashdoashdoiahsodihasodhoahsda</span><br>
    </div>
  </div>
  <div class="information">
    <div>
      <span>FAQ</span>
    </div>
    <div class="data">
      <span>- doiashdoashdoiahsodihasodhoahsda</span><br>
      <span>- doiashdoashdoiahsodihasodhoahsda</span><br>
      <span>- doiashdoashdoiahsodihasodhoahsda</span><br>
      <span>- doiashdoashdoiahsodihasodhoahsda</span><br>
    </div>
  </div>
</div>
<app-footer></app-footer>
